%header.navbar.navbar-fixed-top.navbar-inverse
	.container-fluid
		.navbar-header
			%button.navbar-toggle -# TODO finish
			= link_to 'Spacebook', root_path
			%span= link_to "Create Space", new_space_path